body {
  background-color: #a1c6ea;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
.head {
  font-size: 50px;
  text-align: center;
  margin: 50px auto;
}
.picture {
  background-position: center;
  height: 30vh;
}
.background {
  text-align: center;
  width: 40vw;
  margin: 20px auto;
  background-color: #e1eff6;
  border: 3px solid black;
}
