body {
  background-color: #a1c6ea;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
.head {
  font-size: 50px;
  text-align: center;
  margin: 50px auto;
}
.block_picture {
  background-position: center;
  height: 30vh;
}
.block_background {
  text-align: center;
  width: 35vw;
  margin: 20px auto;
  background-color: #e1eff6;
  border: 5px solid #9ece9a;
  padding: 10px 20px;
}
.inline_text {
  color: #fc7753;
}
